{% extends 'base.html' %}
{% block title %} Register - GROCEASY {% endblock %} 

{% block content %} 
<h2> SignUp </h2>
<form action="#" method="post">
    <table>
        <tr>
            <td> Username: </td><td> <input type="text" name="username", placeholder="username"> </td>
        </tr>
        <tr>
            <td> Password: </td><td> <input type="password" name="password", placeholder="password"> </td>
        </tr>
    </table>
    <br>
    <h4 style="font-family: zillaslab,palatino,Palatino Linotype,serif;color:red">{{error}}</h4>
    <br>
    <input class="button" type="submit" formaction="/signup" value="Sign Up" />
    <br>
    Already have an account? <a href="/login">Login</a>
</form>
{% endblock %} 