{% extends 'base.html' %}
{% block title %} Manager Login {% endblock %}

{% block content %}
<h1> Add a Product </h1>
<form method="post" action="/add/product">
    <label> Enter the Product name: </label>
    <input name="prod_name" type="text" required/>

    <br><br>
    <label> Enter the expiry date of the product: </label>
    <input name="expiry_date" type="date" />

    <br><br>

    <label> Enter the price (per unit): </label>
    <input name="unit_rate" type="number" required/>

    <br><br>

    <label> Enter the available quatity: </label>
    <input name="qnt_avl" type="number" required/>

    <br><br>

    <input type="submit" value="Submit" />

</form>
{% endblock %}