{% extends 'base.html' %}
{% block title %} Groceasy {% endblock %}

{% block content %}
<div>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search for Products/Categories" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
</div>
<h2 style="text-align: center;"> Hey, Welcome to Groceasy </h2>
<h3 style="text-align: center"> New User? <a href="/signup"> Register </a> </h3>
<h3 style="text-align: center"> Already a User? <a href="/login"> Login </a> </h3>
{% endblock %}