{% extends 'base.html' %}
{% block title %} User Login {% endblock %}

{% block content %}
    <h1> User Login </h1>
<form action="#" method="POST">
    <div class="login", style="border: 1px solid black ; width: 50%; height: 120px">
    <table>
        <tr>
            <td> Username: </td><td> <input type="text" name="username", placeholder="USERNAME"> </td>
        </tr>
        <tr>
            <td> Password: </td><td> <input type="password" name="password", placeholder="password"> </td>
        </tr>
    </table>
    <br>
    <input class="button" type="submit" formaction="/login" value="Login" />
    <br>
    Login as admin <a href="/admin/login"> Enter </a>
    </div>
</form>

</div>
{% endblock %}