<!-- THIS PAGE WILL BE AVAILABLE FOR THE USERS  -->
{% extends 'base.html' %}
{% block title %} Groceasy {% endblock %}

{% block content %}
<h2> Products </h2>
<table>
    <tr>
        <th> S.No. </th>
        <th> Name </th>
        <th> Expiry date </th>
        <th> Price per unit (in Rs) </th>
        <th> Available quantity </th>
    </tr>
    {% for one in all %}
    <tr>

        <td> {{loop.index}} </td>
        <td> {{one['name']}} </td>
        <td> {{one['exp_date']}} </td>
        <td> {{one['rate_per_unit']}} </td>
        <td> {{one['qnt_avl']}} </td>
        
        </td>
    </tr>
    {% endfor %}
    <tr>
        
        <td>  </td>
    </tr>
</table>
{% endblock %}